# Игнорирования каталогов сборки во всех директориях
.build*/*
# Игнорирование директории в которой собираются библиотеки
**/lib/*
# Игнорирование библиотек 
*.a
*.so
*.lib
*.dll
# Игнорирования кеша cmake во всех директориях
CMakeCache.txt
